<html>
   <head>
        <script src="/js/poker.js"></script>
        <link rel="stylesheet" type="text/css" href="css/poker.css">
    </head>
    <center>
    <font color="pink"><h2>Welcome to DeMo's Poker</h2></font>
    <body>
        <div class="winnerbox">
        </div><br><br>
        <div class="tentacle1">
            <img src="images/tentacle.png">
        </div>
        <div class="tentacle2">
            <img src="images/tentacle1.png">
        </div>
    

     </center>
   </body>

</html>