body {
    background: url(/images/lovecraft1.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
    overflow:hidden;
}

#poker{
    position: relative;
    top: -12px;
    left: -1px;
    
    color: yellow;
    border-style: outset;
    height: 50px;
    width: 100px;
    font: bold 13px arial, sans-serif;
    text-shadow: none;
}
.winnerbox {
    background-color:#45a6e79d;
    width: 300px;
    border: 20px solid #ec020279;
    padding: 20px;
    margin: 20px;
    box-shadow: -5px -5px 10px;
}
.tentacle1 {
    background-image: url(/images/tentacle1.png);
    background-size: cover;
    display: block;
    width: 64%;
    background-repeat: no-repeat;
    background-position: center;
    height: 83%;
    transform: rotate(-60deg);
    position: absolute;
    top: 30%;
    left: -16%;
    z-index: -1;


}
.tentacle2 {
    background-image: url(/images/tentacle1.png);
    background-size: cover;
    display: block;
    width: 64%;
    background-repeat: no-repeat;
    background-position: center;
    height: 83%;
    transform: rotate(-60deg);
    position: absolute;
    top: 30%;
    right: -14%;
}

.cards {
    margin:2px 0;

}
.numbers2 {
    position: absolute;
    top: 6%;
    left: 76%;
    color: rgb(255, 30, 0);
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
}

.numbers1 {
    position: absolute;
    top: 6%;
    left: 11%;
    color: white;
    color: rgb(255, 30, 0);
    font-size: 1rem;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: red;
}

.button {
    display: inline-block;
    padding: 15px 13px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: azure;
    background-color: rgba(91, 196, 245, 0.575);
    border: #00ffff87;
    border-radius: 16px;
    box-shadow: 0 6px #999;
  }

.button:active {
  background-color: #41acf3b6;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}